body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#head-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
  color: #ecf0f1;
  padding: 50px 0;
}

#logo {
  width: 300px;
  margin-bottom: 40px;
}

#logo img {
  width: 80%;
}

#head-section h1 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

#button-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#import-images {
  display: none;
}

#import-images-label,
#export-images-label {
  padding: 20px;
  border: 1px solid #bdc3c7;
  background-color: #27ae60;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s ease all;
  font-size: 20px;
  font-weight: 600;
  margin: 30px;
  margin-top: 0;
  text-align: center;
}

#export-images-label {
  background: #2980b9;
  display: none;
}

#export-images {
  display: none;
}

#export-message {
  display: none;
  margin: 0;
}

#images-container {
  margin-bottom: 10px;
}

.image-section {
  margin-bottom: 10px;
}

.image-section h3 {
  margin: 30px 5%;
  padding-left: 10px;
  border-bottom: 1px solid #7f8c8d;
  padding-bottom: 10px;
}

.image-section-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-section-list > div {
  flex: 0 0 23%;
  text-align: center;
  position: relative;
}

.image-section-list img {
  max-width: 100%;
}

#no-images {
  text-align: center;
  color: #7f8c8d;
  margin-top: 50px;
}

.remove-image {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #000;
  background: transparent;
  cursor: pointer;
}
