.label {
  position: absolute;
  width: 100px;
  height: 100px;
  resize: both;
  overflow: auto;
  cursor: move;
  background: transparent;
}

.label:hover {
  z-index: 2;
}

#labels-container {
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
  padding: 5px 0;
  border: 1px solid #bdc3c7;
}

#label-list-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 5px 0;
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  text-align: center;
}

#label-list {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.label-box {
  display: flex;
  position: relative;
}
.label-color-picker {
  border: 1px solid #bdc3c7;
  position: absolute;
  left: 5px;
  top: 8px;
  height: 16px;
  width: 18px;
  border-radius: 100%;
  cursor: pointer;
}

.label-color-picker input {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.labelInput {
  border: 1px solid #bdc3c7;
  padding: 8px 30px;
  font-size: 15px;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

.closeIcon {
  position: absolute;
  right: 8px;
  top: 6px;
  cursor: pointer;
}

.labelBoxCloseIcon {
  position: absolute;
  cursor: pointer;
  padding: 1px 3px;
  display: none;
}

#add-label-btn,
#export-data-btn,
#export-images-btn,
#import-data-label,
#display-images-btn {
  cursor: pointer;
  outline: 0;
  padding: 10px 0;
  margin: 10px;
  margin-bottom: 0;
  background: #16a085;
  color: #fff;
  border: none;
  transition: 0.2s ease all;
  border-radius: 4px;
}

#export-data-btn,
#export-images-btn,
#display-images-btn {
  text-align: center;
  text-decoration: none;
  background: #2980b9;
  font-size: 14px;
  flex: 0 0 200px;
}

#export-images-btn {
  background-color: #d35400;
}

#display-images-btn {
  background-color: #34495e;
}

#import-data,
#export-images {
  display: none;
}

#import-data-label {
  background: #8e44ad;
  font-size: 14px;
  text-align: center;
  flex: 0 0 200px;
}

#add-label-btn:hover,
#export-data-btn:hover,
#export-images-btn:hover,
#display-images-btn:hover,
#import-data-label:hover {
  box-shadow: 0px 2px 6px 2px #95a5a6;
  font-size: 15px;
}

#import-export {
  display: flex;
  padding: 10px;
  overflow-x: auto;
}
