.label {
  position: absolute;
  width: 100px;
  height: 100px;
  resize: both;
  overflow: auto;
  cursor: move;
  opacity: 0.5;
}

.label:hover {
  z-index: 2;
}

#labels-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #bdc3c7;
}

#label-list-title {
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bdc3c7;
  text-align: center;
}

#label-list {
  width: 250px;
  height: 430px;
  padding-right: 5px;
  overflow-y: auto;
}

.label-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.labelInput {
  border: 1px solid #bdc3c7;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
  outline: 0;
}

.closeIcon {
  position: absolute;
  right: 8px;
  top: 4px;
  cursor: pointer;
}

#add-label-btn {
  cursor: pointer;
  outline: 0;
  padding: 5px 0;
}
