body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

#container {
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#labeling-area {
  display: flex;
  height: calc(100vh - 80px);
}

#upload-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
}

#upload-container h1 {
  font-size: 40px;
  color: #ecf0f1;
  margin: 0;
  margin-bottom: 80px;
}

#video-upload {
  display: none;
}

#video-upload-label {
  padding: 20px;
  border: 1px solid #bdc3c7; /*#555*/
  background-color: #e67e22;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s ease all;
  color: #ecf0f1;
  font-size: 20px;
  font-weight: 600;
}

#video-upload-label:hover {
  box-shadow: 2px 0px 10px 3px #bdc3c7; /*#555*/
  transform: scale(1.1);
}

#canvas {
  display: none;
}
