#video-player-container {
  flex: 1;
  max-width: calc(100vw - 270px);
  display: flex;
  flex-direction: column;
}

#video-player {
  overflow: scroll;
  flex: 1;
}

/* Video Player Scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #ecf0f1;
}
::-webkit-scrollbar-thumb {
  background: #bdc3c7;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #95a5a6;
}

#video-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #34495e;
  border-right: 1px solid #34495e;
}

#video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}

#video-player-container:hover #video-overlay {
  display: block;
}

/* Controls */

#controls {
  display: flex;
  height: 26px;
  padding: 2px;
  background: rgb(0, 0, 0, 0.8);
  align-items: center;
}

#play {
  flex: 0 0 30px;
  height: inherit;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

#time {
  color: #fff;
  margin-right: 10px;
}

#duration {
  height: inherit;
  flex: 1;
  background: rgb(189, 195, 199);
}

#currentTime {
  height: inherit;
  background: rgb(192, 57, 43);
  width: 0px;
}

#fullscreen {
  height: inherit;
  font-size: 24px;
  line-height: 1;
  padding: 0 5px;
  margin-left: 10px;
  cursor: pointer;
}
